<%- include("partials/navbar") %>

<h1 class="text-3xl font-bold mb-4 text-center">About Us</h1>

<p class="text-center">This is a sample Web322 assignment project. We showcase projects with EJS, Node.js, and Tailwind CSS.</p>
