<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div class="navbar">
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</div>

<h2>Login</h2>

<% if (error) { %>
    <p class="error"><%= error %></p>
<% } %>

<form method="POST" action="/login">
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
</form>
<footer>
     WEB-322 Assignment 3 — Muhammad Abubakar Student id:122043243
</footer>

</body>
</html>
