<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include("partials/navbar") %>

    <div class="container">
        <h2>Login</h2>

        <% if (error) { %>
            <p class="error"><%= error %></p>
        <% } %>

        <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">

            <button type="submit">Login</button>
        </form>

        <p>
            <a href="/register">Create account</a>
        </p>

        <footer>WEB322 Assignment 3 — Siddhant Bisht</footer>
    </div>
</body>
</html>
